In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sp = pd.read_csv("Soyabean_2019.csv")

In [3]:
mp = sp[sp['state']=='Madhya Pradesh']

In [4]:
mh = sp[sp['state']=='Maharashtra']

In [5]:
rj = sp[sp['state']=='Rajasthan']

In [6]:
count = rj.groupby(['district']).count() 
print(count)

          state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Udaipur       1          1        1             1            1           0

In [7]:
count = mp.groupby(['district']).count() 
print(count)

             state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Alirajpur      235        235      235           235          235           0
Anupur           2          2        2             2            2           0
Ashoknagar     423        423      423           423          423           0
Badwani        181        181      181           181          181           0
Betul          253        253      253           253          253           0
Bhopal         472        472      472           472          472           0
Burhanpur      129        129      129           129          129           0
Chhatarpur     441        441      441           441          441           0
Chhindwara     216        216      216           216          216           0
Damoh          240        240      240           240          240           0
Datia           12         12       12            12           12           0
Dewas          913        913      913           913          913           0
Dhar           905        905      905           905          905           0
Dindori        126        126      126           126          126           0
Guna           646        646      646           646          646           0
Gwalior         19         19       19            19           19           0
Harda          505        505      505           505          505           0
Hoshangabad    285        285      285           285          285           0
Indore         589        589      589           589          589           0
Jabalpur         7          7        7             7            7           0
Jhabua         262        262      262           262          262           0
Katni            6          6        6             6            6           0
Khandwa        261        261      261           261          261           0
Khargone       607        607      607           607          607           0
Mandla           1          1        1             1            1           0
Mandsaur       643        643      643           643          643           0
Morena          19         19       19            19           19           0
Narsinghpur    315        315      315           315          315           0
Neemuch        271        271      271           271          271           0
Panna           15         15       15            15           15           0
Raisen         426        426      426           426          426           0
Rajgarh       1134       1134     1134          1134         1134           0
Ratlam         886        886      886           886          886           0
Rewa            51         51       51            51           51           0
Sagar          920        920      920           920          920           0
Satna          162        162      162           162          162           0
Sehore         820        820      820           820          820           0
Seoni           33         33       33            33           33           0
Shajapur      1544       1544     1544          1544         1544           0
Shehdol         66         66       66            66           66           0
Sheopur        200        200      200           200          200           0
Shivpuri       662        662      662           662          662           0
Tikamgarh      269        269      269           269          269           0
Ujjain        1049       1049     1049          1049         1049           0
Umariya         11         11       11            11           11           0
Vidisha        746        746      746           746          746           0

In [8]:
count = mh.groupby(['district']).count() 
print(count)

            state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Ahmednagar    461        461      461           461          461           0
Akola         496        496      496           496          496           0
Amarawati     588        588      588           588          588           0
Aurangabad    120        120      120           120          120           0
Beed          627        627      627           627          627           0
Bhandara        7          7        7             7            7           0
Buldhana     1161       1161     1161          1161         1161           0
Chandrapur    280        280      280           280          280           0
Hingoli       578        578      578           578          578           0
Jalana        383        383      383           383          383           0
Jalgaon       222        222      222           222          222           0
Latur         750        750      750           750          750           0
Nagpur        423        423      423           423          423           0
Nanded        273        273      273           273          273           0
Nandurbar     155        155      155           155          155           0
Nashik        469        469      469           469          469           0
Osmanabad     340        340      340           340          340           0
Parbhani      441        441      441           441          441           0
Pune           19         19       19            19           19           0
Satara          5          5        5             5            5           0
Sholapur       54         54       54            54           54           0
Vashim        754        754      754           754          754           0
Wardha        735        735      735           735          735           0
Yavatmal      617        617      617           617          617           0

In [9]:
mhtt = mh[['district','modal_price']].groupby(['district'])['modal_price'].count().nlargest(10)

In [10]:
rjtt = rj[['district','modal_price']].groupby(['district'])['modal_price'].count().nlargest(10)

In [11]:
mptt = mp[['district','modal_price']].groupby(['district'])['modal_price'].count().nlargest(10)

In [12]:
array = ['Shajapur', 'Rajgarh','Ujjain','Sagar','Dewas','Dhar','Ratlam','Sehore','Vidisha','Shivpuri']
tmp = mp.loc[mp['district'].isin(array)]

In [13]:
tmp

,state,district,commodity,variety,arrival_date,modal_price,Unnamed: 6
5240,Madhya Pradesh,Dewas,Soyabean,Other,02-01-19,3100,NaN
5241,Madhya Pradesh,Dewas,Soyabean,Other,03-01-19,3187,NaN
5242,Madhya Pradesh,Dewas,Soyabean,Other,05-01-19,3170,NaN
5243,Madhya Pradesh,Dewas,Soyabean,Other,07-01-19,3210,NaN
5244,Madhya Pradesh,Dewas,Soyabean,Other,08-01-19,3138,NaN
5245,Madhya Pradesh,Dewas,Soyabean,Other,09-01-19,3120,NaN
5246,Madhya Pradesh,Dewas,Soyabean,Other,10-01-19,3357,NaN
5247,Madhya Pradesh,Dewas,Soyabean,Other,11-01-19,3286,NaN
5248,Madhya Pradesh,Dewas,Soyabean,Other,15-01-19,3240,NaN
5249,Madhya Pradesh,Dewas,Soyabean,Other,16-01-19,3365,NaN
5250,Madhya Pradesh,Dewas,Soyabean,Other,17-01-19,3393,NaN
5251,Madhya Pradesh,Dewas,Soyabean,Other,18-01-19,3324,NaN
5252,Madhya Pradesh,Dewas,Soyabean,Other,21-01-19,3631,NaN
5253,Madhya Pradesh,Dewas,Soyabean,Other,01-02-19,3550,NaN
5254,Madhya Pradesh,Dewas,Soyabean,Other,10-02-19,3475,NaN
5255,Madhya Pradesh,Dewas,Soyabean,Other,11-02-19,3050,NaN
5256,Madhya Pradesh,Dewas,Soyabean,Other,12-02-19,3475,NaN
5257,Madhya Pradesh,Dewas,Soyabean,Other,13-02-19,3050,NaN
5258,Madhya Pradesh,Dewas,Soyabean,Other,15-03-19,3550,NaN
5259,Madhya Pradesh,Dewas,Soyabean,Other,21-03-19,3555,NaN
5260,Madhya Pradesh,Dewas,Soyabean,Other,26-03-19,3600,NaN
5261,Madhya Pradesh,Dewas,Soyabean,Other,30-05-19,3404,NaN
5262,Madhya Pradesh,Dewas,Soyabean,Other,05-07-19,3400,NaN
5263,Madhya Pradesh,Dewas,Soyabean,Other,06-07-19,3375,NaN
5264,Madhya Pradesh,Dewas,Soyabean,Other,08-07-19,3412,NaN
5265,Madhya Pradesh,Dewas,Soyabean,Other,09-07-19,3372,NaN
5266,Madhya Pradesh,Dewas,Soyabean,Other,10-07-19,3372,NaN
5267,Madhya Pradesh,Dewas,Soyabean,Other,11-07-19,3372,NaN
5268,Madhya Pradesh,Dewas,Soyabean,Other,12-07-19,3372,NaN
5269,Madhya Pradesh,Dewas,Soyabean,Other,13-07-19,3372,NaN
...,...,...,...,...,...,...,...
20584,Madhya Pradesh,Vidisha,Soyabean,Yellow,27-06-19,3500,NaN
20585,Madhya Pradesh,Vidisha,Soyabean,Yellow,28-06-19,3500,NaN
20586,Madhya Pradesh,Vidisha,Soyabean,Yellow,29-06-19,3200,NaN
20587,Madhya Pradesh,Vidisha,Soyabean,Yellow,01-07-19,3310,NaN
20588,Madhya Pradesh,Vidisha,Soyabean,Yellow,03-07-19,3500,NaN
20589,Madhya Pradesh,Vidisha,Soyabean,Yellow,06-07-19,3580,NaN
20590,Madhya Pradesh,Vidisha,Soyabean,Yellow,08-07-19,3570,NaN
20591,Madhya Pradesh,Vidisha,Soyabean,Yellow,09-07-19,3580,NaN
20592,Madhya Pradesh,Vidisha,Soyabean,Yellow,10-07-19,3550,NaN
20593,Madhya Pradesh,Vidisha,Soyabean,Yellow,11-07-19,3625,NaN
20594,Madhya Pradesh,Vidisha,Soyabean,Yellow,12-07-19,3500,NaN
20595,Madhya Pradesh,Vidisha,Soyabean,Yellow,15-07-19,3500,NaN
20596,Madhya Pradesh,Vidisha,Soyabean,Yellow,16-07-19,3500,NaN
20597,Madhya Pradesh,Vidisha,Soyabean,Yellow,17-07-19,3400,NaN
20598,Madhya Pradesh,Vidisha,Soyabean,Yellow,18-07-19,3410,NaN
20599,Madhya Pradesh,Vidisha,Soyabean,Yellow,19-07-19,3400,NaN
20600,Madhya Pradesh,Vidisha,Soyabean,Yellow,20-07-19,3420,NaN
20601,Madhya Pradesh,Vidisha,Soyabean,Yellow,22-07-19,3420,NaN
20602,Madhya Pradesh,Vidisha,Soyabean,Yellow,23-07-19,3380,NaN
20603,Madhya Pradesh,Vidisha,Soyabean,Yellow,24-07-19,3380,NaN
20604,Madhya Pradesh,Vidisha,Soyabean,Yellow,25-07-19,3280,NaN
20605,Madhya Pradesh,Vidisha,Soyabean,Yellow,27-07-19,3260,NaN
20606,Madhya Pradesh,Vidisha,Soyabean,Yellow,29-07-19,3420,NaN
20607,Madhya Pradesh,Vidisha,Soyabean,Yellow,30-07-19,3440,NaN
20608,Madhya Pradesh,Vidisha,Soyabean,Yellow,31-07-19,3550,NaN
20609,Madhya Pradesh,Vidisha,Soyabean,Yellow,02-08-19,3550,NaN
20610,Madhya Pradesh,Vidisha,Soyabean,Yellow,03-08-19,3400,NaN
20611,Madhya Pradesh,Vidisha,Soyabean,Yellow,05-08-19,3450,NaN
20612,Madhya Pradesh,Vidisha,Soyabean,Yellow,06-08-19,3410,NaN
20613,Madhya Pradesh,Vidisha,Soyabean,Yellow,07-08-19,3300,NaN

In [14]:
count = tmp.groupby(['district']).count() 
print(count)

          state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Dewas       913        913      913           913          913           0
Dhar        905        905      905           905          905           0
Rajgarh    1134       1134     1134          1134         1134           0
Ratlam      886        886      886           886          886           0
Sagar       920        920      920           920          920           0
Sehore      820        820      820           820          820           0
Shajapur   1544       1544     1544          1544         1544           0
Shivpuri    662        662      662           662          662           0
Ujjain     1049       1049     1049          1049         1049           0
Vidisha     746        746      746           746          746           0

In [15]:
count = tmp.groupby(['district']).count() 
print(count)

          state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Dewas       913        913      913           913          913           0
Dhar        905        905      905           905          905           0
Rajgarh    1134       1134     1134          1134         1134           0
Ratlam      886        886      886           886          886           0
Sagar       920        920      920           920          920           0
Sehore      820        820      820           820          820           0
Shajapur   1544       1544     1544          1544         1544           0
Shivpuri    662        662      662           662          662           0
Ujjain     1049       1049     1049          1049         1049           0
Vidisha     746        746      746           746          746           0

In [16]:
arr = ["Buldhana" ,"Vashim", "Latur","Wardha","Beed" , "Yavatmal" , "Amarawati" ,"Hingoli" ,"Akola" , "Nashik"]
tmh = mh.loc[mh['district'].isin(arr)]

In [17]:
tmh

,state,district,commodity,variety,arrival_date,modal_price,Unnamed: 6
21075,Maharashtra,Akola,Soyabean,Yellow,01-01-19,3195,NaN
21076,Maharashtra,Akola,Soyabean,Yellow,02-01-19,3100,NaN
21077,Maharashtra,Akola,Soyabean,Yellow,03-01-19,3100,NaN
21078,Maharashtra,Akola,Soyabean,Yellow,04-01-19,3100,NaN
21079,Maharashtra,Akola,Soyabean,Yellow,05-01-19,3275,NaN
21080,Maharashtra,Akola,Soyabean,Yellow,07-01-19,3260,NaN
21081,Maharashtra,Akola,Soyabean,Yellow,08-01-19,3270,NaN
21082,Maharashtra,Akola,Soyabean,Yellow,09-01-19,3200,NaN
21083,Maharashtra,Akola,Soyabean,Yellow,10-01-19,3250,NaN
21084,Maharashtra,Akola,Soyabean,Yellow,11-01-19,3300,NaN
21085,Maharashtra,Akola,Soyabean,Yellow,12-01-19,3300,NaN
21086,Maharashtra,Akola,Soyabean,Yellow,14-01-19,3460,NaN
21087,Maharashtra,Akola,Soyabean,Yellow,15-01-19,3500,NaN
21088,Maharashtra,Akola,Soyabean,Yellow,16-01-19,3550,NaN
21089,Maharashtra,Akola,Soyabean,Yellow,17-01-19,3500,NaN
21090,Maharashtra,Akola,Soyabean,Yellow,18-01-19,3550,NaN
21091,Maharashtra,Akola,Soyabean,Yellow,19-01-19,3500,NaN
21092,Maharashtra,Akola,Soyabean,Yellow,22-01-19,3725,NaN
21093,Maharashtra,Akola,Soyabean,Yellow,23-01-19,3660,NaN
21094,Maharashtra,Akola,Soyabean,Yellow,24-01-19,3600,NaN
21095,Maharashtra,Akola,Soyabean,Yellow,25-01-19,3650,NaN
21096,Maharashtra,Akola,Soyabean,Yellow,28-01-19,3700,NaN
21097,Maharashtra,Akola,Soyabean,Yellow,29-01-19,3600,NaN
21098,Maharashtra,Akola,Soyabean,Yellow,30-01-19,3750,NaN
21099,Maharashtra,Akola,Soyabean,Yellow,31-01-19,3700,NaN
21100,Maharashtra,Akola,Soyabean,Yellow,01-02-19,3650,NaN
21101,Maharashtra,Akola,Soyabean,Yellow,02-02-19,3700,NaN
21102,Maharashtra,Akola,Soyabean,Yellow,04-02-19,3625,NaN
21103,Maharashtra,Akola,Soyabean,Yellow,05-02-19,3650,NaN
21104,Maharashtra,Akola,Soyabean,Yellow,06-02-19,3500,NaN
...,...,...,...,...,...,...,...
30542,Maharashtra,Yavatmal,Soyabean,Yellow,08-05-19,3525,NaN
30543,Maharashtra,Yavatmal,Soyabean,Yellow,09-05-19,3575,NaN
30544,Maharashtra,Yavatmal,Soyabean,Yellow,13-05-19,3575,NaN
30545,Maharashtra,Yavatmal,Soyabean,Yellow,15-05-19,3600,NaN
30546,Maharashtra,Yavatmal,Soyabean,Yellow,23-07-19,3450,NaN
30547,Maharashtra,Yavatmal,Soyabean,Yellow,24-07-19,3475,NaN
30548,Maharashtra,Yavatmal,Soyabean,Yellow,25-07-19,3475,NaN
30549,Maharashtra,Yavatmal,Soyabean,Yellow,26-07-19,3475,NaN
30550,Maharashtra,Yavatmal,Soyabean,Yellow,29-07-19,3535,NaN
30551,Maharashtra,Yavatmal,Soyabean,Yellow,31-07-19,3500,NaN
30552,Maharashtra,Yavatmal,Soyabean,Yellow,01-08-19,3430,NaN
30553,Maharashtra,Yavatmal,Soyabean,Yellow,02-08-19,3475,NaN
30554,Maharashtra,Yavatmal,Soyabean,Yellow,06-08-19,3450,NaN
30555,Maharashtra,Yavatmal,Soyabean,Yellow,07-08-19,3435,NaN
30556,Maharashtra,Yavatmal,Soyabean,Yellow,08-08-19,3430,NaN
30557,Maharashtra,Yavatmal,Soyabean,Yellow,08-01-19,3300,NaN
30558,Maharashtra,Yavatmal,Soyabean,Yellow,09-01-19,3300,NaN
30559,Maharashtra,Yavatmal,Soyabean,Yellow,19-01-19,3500,NaN
30560,Maharashtra,Yavatmal,Soyabean,Yellow,22-01-19,3483,NaN
30561,Maharashtra,Yavatmal,Soyabean,Yellow,24-01-19,3483,NaN
30562,Maharashtra,Yavatmal,Soyabean,Yellow,02-02-19,3600,NaN
30563,Maharashtra,Yavatmal,Soyabean,Yellow,04-02-19,3550,NaN
30564,Maharashtra,Yavatmal,Soyabean,Yellow,07-02-19,3600,NaN
30565,Maharashtra,Yavatmal,Soyabean,Yellow,09-02-19,3530,NaN
30566,Maharashtra,Yavatmal,Soyabean,Yellow,16-02-19,3550,NaN
30567,Maharashtra,Yavatmal,Soyabean,Yellow,25-02-19,3560,NaN
30568,Maharashtra,Yavatmal,Soyabean,Yellow,01-03-19,3548,NaN
30569,Maharashtra,Yavatmal,Soyabean,Yellow,13-03-19,3520,NaN
30570,Maharashtra,Yavatmal,Soyabean,Yellow,22-04-19,3600,NaN
30571,Maharashtra,Yavatmal,Soyabean,Yellow,21-05-19,3600,NaN

In [18]:
count = tmh.groupby(['district']).count() 
print(count)

           state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Akola        496        496      496           496          496           0
Amarawati    588        588      588           588          588           0
Beed         627        627      627           627          627           0
Buldhana    1161       1161     1161          1161         1161           0
Hingoli      578        578      578           578          578           0
Latur        750        750      750           750          750           0
Nashik       469        469      469           469          469           0
Vashim       754        754      754           754          754           0
Wardha       735        735      735           735          735           0
Yavatmal     617        617      617           617          617           0

In [19]:
arrr =["Jhalawar" ,"Baran", "Kota","Chittorgarh","Bundi" , "Udaipur" , "Swai Madhopur" ,"Bhilwara" ,"Tonk" ]
trj = rj.loc[rj['district'].isin(arrr)]

In [20]:
trj

,state,district,commodity,variety,arrival_date,modal_price,Unnamed: 6
30578,Rajasthan,Udaipur,Soyabean,Other,08-08-19,3450,NaN

In [21]:
count = trj.groupby(['district']).count() 
print(count)

          state  commodity  variety  arrival_date  modal_price  Unnamed: 6
district
Udaipur       1          1        1             1            1           0

In [22]:
avrj = trj.groupby([pd.to_datetime(trj.arrival_date).dt.strftime('%b'), 'district'])['modal_price'].mean().reset_index(name='modal_price')

DataError: No numeric types to aggregate

In [ ]:
avrj

In [ ]:
avmp = tmp.groupby([pd.to_datetime(tmp.arrival_date).dt.strftime('%b'), 'district'])['modal_price'].mean().reset_index(name='modal_price')

In [ ]:
avmp

In [ ]:
count = avmp.groupby(['district']).count() 
print(count)

In [ ]:
avmh = tmh.groupby([pd.to_datetime(tmh.arrival_date).dt.strftime('%b'), 'district'])['modal_price'].mean().reset_index(name='modal_price')

In [ ]:
avmh

In [ ]:
count = avmh.groupby(['district']).count() 
print(count)

In [ ]:
avmh['arrival_date'] = pd.Categorical(avmh['arrival_date'], categories=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],ordered=True)
avmh=avmh.sort_values('arrival_date',ascending=True)

In [ ]:
avmh

In [ ]:
x=avmh['arrival_date']
x
y=avmh['modal_price']
y

In [ ]:
plt.scatter(x,y,color=['red','yellow'])
plt.xlabel("arrival_dates")
plt.ylabel("model_price")
plt.legend()
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
ax = sns.stripplot(x, y,hue = 'district',data=avmh)

In [ ]:
ax.set(xlabel ='Days', ylabel ='Amount_spend')

In [ ]:

plt.show()

In [ ]:
ax = sns.swarmplot(x, y,hue = 'district',data=avmh)

In [ ]:
ax.set(xlabel ='Days', ylabel ='Amount_spend')

In [ ]:
plt.show()

In [ ]:
#ax = sns.regplot(x, y,hue = 'district',data=avmh)
#ax.set(xlabel ='Days', ylabel ='Amount_spend')

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
sp = pd.read_csv("Rajasthan_top_ten_district.csv")

In [ ]:
sp.head()

In [ ]:
x=sp['district'] 
y=sp['esti.prod']
z=sp['model_price']

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import numpy as np
fig = plt.figure()
ax = plt.axes(projection='3d')
colors=['red','green','blue','black','yellow','violet','purple','m','orange','white']

In [ ]:
ax.bar(x,y,z,color=colors,label=colors)
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
plt.legend()
plt.show()

In [ ]:
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
mpttp = pd.read_csv("NEWSOYAMP.csv")

In [ ]:
mpttp.head()

In [ ]:
x=mpttp['arrival_date'] 
y=mpttp['modal_price/Quintol']
z=mpttp['Production']

In [ ]:
fig = plt.figure()
ax = plt.axes(projection='3d')

In [ ]:
ax.plot(x,y,z,color=['red','blue','green'])
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
plt.show()