In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
soya1= pd.read_csv("Soyabean1.csv")

In [3]:
soya1

              State       District Arrival_Date  Sold_Amount/tonns Unnamed: 4
0       Chattisgarh    Balodabazar          Jan                6.9        NaN
1       Chattisgarh           Durg          Jan              958.5        NaN
2       Chattisgarh      Kabirdham          Jan              242.4        NaN
3       Chattisgarh        Mungeli          Jan              151.9        NaN
4       Chattisgarh         Raipur          Jan              630.2        NaN
5       Chattisgarh    Rajnandgaon          Jan             2946.9        NaN
6       Chattisgarh    Balodabazar          Feb               15.5        NaN
7       Chattisgarh           Durg          Feb              599.0        NaN
8       Chattisgarh      Kabirdham          Feb              287.3        NaN
9       Chattisgarh        Mungeli          Feb               96.5        NaN
10      Chattisgarh         Raipur          Feb              312.9        NaN
11      Chattisgarh    Rajnandgaon          Feb             4166.9        NaN
12      Chattisgarh    Balodabazar          Mar                4.4        NaN
13      Chattisgarh           Durg          Mar              230.6        NaN
14      Chattisgarh      Kabirdham          Mar              434.5        NaN
15      Chattisgarh        Mungeli          Mar               55.7        NaN
16      Chattisgarh         Raipur          Mar                0.2        NaN
17      Chattisgarh    Rajnandgaon          Mar             3750.6        NaN
18      Chattisgarh    Balodabazar          Apr                3.1        NaN
19      Chattisgarh           Durg          Apr              208.8        NaN
20      Chattisgarh      Kabirdham          Apr              612.3        NaN
21      Chattisgarh        Mungeli          Apr               47.8        NaN
22      Chattisgarh         Raipur          Apr              500.0        NaN
23      Chattisgarh    Rajnandgaon          Apr             4405.8        NaN
24      Chattisgarh    Balodabazar          May                5.3        NaN
25      Chattisgarh      Kabirdham          May              279.1        NaN
26      Chattisgarh        Mungeli          May              162.6        NaN
27      Chattisgarh         Raipur          May              775.4        NaN
28      Chattisgarh    Rajnandgaon          May             4126.3        NaN
29      Chattisgarh           Durg          May              234.0        NaN
...             ...            ...          ...                ...        ...
1062      rajasthan          Baran          Oct            31403.1        NaN
1063      rajasthan  Swai Madhopur          Nov              322.9        NaN
1064      rajasthan           Kota          Nov            45273.1        NaN
1065      rajasthan       Jhalawar          Nov            53503.5        NaN
1066      rajasthan    Chittorgarh          Nov             7965.2        NaN
1067      rajasthan          Bundi          Nov             3010.6        NaN
1068      rajasthan       Bhilwara          Nov               29.8        NaN
1069      rajasthan          Baran          Nov            28284.1        NaN
1070  Uttar Pradesh         Kanpur          Jan              492.0        NaN
1071  Uttar Pradesh       Lalitpur          Jan              503.5        NaN
1072  Uttar Pradesh         Kanpur          Feb              640.0        NaN
1073  Uttar Pradesh       Lalitpur          Feb              418.0        NaN
1074  Uttar Pradesh         Kanpur          Mar              565.0        NaN
1075  Uttar Pradesh       Lalitpur          Mar              233.0        NaN
1076  Uttar Pradesh         Kanpur          Apr              595.0        NaN
1077  Uttar Pradesh       Lalitpur          Apr               98.5        NaN
1078  Uttar Pradesh         Kanpur          May              669.0        NaN
1079  Uttar Pradesh       Lalitpur          May              415.5        NaN
1080  Uttar Pradesh         Kanpur          Jun              483.0        NaN
1081  Uttar Pradesh       Lalitpur          Jun              456.9        NaN
1082  Uttar Pradesh         Kanpur          Jul              704.0        NaN
1083  Uttar Pradesh       Lalitpur          Jul              745.0        NaN
1084  Uttar Pradesh         Kanpur          Aug              880.0        NaN
1085  Uttar Pradesh       Lalitpur          Aug              225.0        NaN
1086  Uttar Pradesh         Kanpur          Sep              573.0        NaN
1087  Uttar Pradesh       Lalitpur          Sep               80.4        NaN
1088  Uttar Pradesh         Kanpur          Oct              426.0        NaN
1089  Uttar Pradesh       Lalitpur          Oct              329.5        NaN
1090  Uttar Pradesh         Kanpur          Nov              600.0        NaN
1091  Uttar Pradesh       Lalitpur          Nov             8191.0        NaN

[1092 rows x 5 columns]

In [4]:
soya1= soya1.groupby([pd.to_datetime(soya1.Arrival_date).dt.strftime('%b'),'state','variety','district'])['modal_price'].mean().reset_index(name='modal_price')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-01 00:00:00

In [ ]:
soya1

In [ ]:
soya1['arrival_date'] = pd.Categorical(soya1['arrival_date'], categories=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],ordered=True)
soya1=soya1.sort_values('arrival_date',ascending=True)

In [ ]:
soya1