In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
sp = pd.read_csv('NEWSOYAMP.csv')

In [39]:
sp

,Unnamed: 0,arrival_date,district,Sold_Amount,Annual/yields,modal_price/Quintol
0,49,Jan,Vidisha,53370.0,615,3475.769231
1,48,Jan,Ujjain,213750.0,802,3280.304615
2,47,Jan,Shivpuri,13180.0,812,3513.547170
3,46,Jan,Shajapur,43839.0,762,3550.031088
4,45,Jan,Sehore,80840.0,748,3580.150442
5,44,Jan,Sagar,65066.0,792,3448.550336
6,43,Jan,Ratlam,127135.8,722,3607.105769
7,42,Jan,Rajgarh,82769.0,766,3553.826667
8,41,Jan,Dhar,149761.0,1060,3565.793893
9,40,Jan,Dewas,282214.0,798,3506.731481
10,36,Feb,Vidisha,11991.0,615,3532.883598
11,31,Feb,Ujjain,66818.0,802,3546.297030
12,32,Feb,Shivpuri,3265.0,812,3536.704225
13,33,Feb,Shajapur,15219.7,762,3590.928571
14,34,Feb,Sehore,27776.0,748,3430.963303
15,30,Feb,Sagar,29955.0,792,3488.366667
16,37,Feb,Ratlam,41736.0,722,3534.838384
17,38,Feb,Rajgarh,15304.0,766,3432.686486
18,39,Feb,Dhar,58257.0,1060,3434.840000
19,35,Feb,Dewas,95811.0,798,3562.613861
20,71,Mar,Vidisha,11810.0,615,3458.737864
21,79,Mar,Ujjain,35176.0,802,3389.285714
22,78,Mar,Shivpuri,1328.0,812,3227.083784
23,77,Mar,Shajapur,9399.7,762,3486.066667
24,76,Mar,Sehore,16115.0,748,3475.152174
25,75,Mar,Sagar,22084.0,792,3542.280488
26,74,Mar,Ratlam,27806.0,722,3329.820755
27,73,Mar,Rajgarh,6683.0,766,3566.957547
28,72,Mar,Dhar,29632.0,1060,3475.155738
29,70,Mar,Dewas,30601.0,798,3475.816514
...,...,...,...,...,...,...
90,104,Oct,Vidisha,63477.0,615,3381.458333
91,109,Oct,Ujjain,173554.0,802,3420.571429
92,108,Oct,Shivpuri,30228.0,812,3232.683333
93,107,Oct,Shajapur,26833.6,762,3420.631579
94,106,Oct,Sehore,69332.0,748,3491.846154
95,105,Oct,Sagar,86351.0,792,3510.160000
96,103,Oct,Ratlam,52304.4,722,3499.740741
97,102,Oct,Rajgarh,29574.0,766,3456.277778
98,101,Oct,Dhar,93928.0,1060,3346.178571
99,100,Oct,Dewas,161460.0,798,3427.269231
100,90,Nov,Vidisha,62290.0,615,3476.973684
101,98,Nov,Ujjain,151218.0,802,3299.372222
102,97,Nov,Shivpuri,34220.0,812,3443.866667
103,96,Nov,Shajapur,42059.0,762,3497.452830
104,95,Nov,Sehore,54986.0,748,3501.733333
105,94,Nov,Sagar,100657.0,792,3311.702703
106,93,Nov,Ratlam,46354.6,722,3592.931034
107,92,Nov,Rajgarh,22329.0,766,3494.102564
108,91,Nov,Dhar,93835.0,1060,3547.303030
109,99,Nov,Dewas,111668.0,798,3387.200000
110,29,Dec,Vidisha,0.0,615,3415.807692
111,28,Dec,Ujjain,0.0,802,3104.414706
112,27,Dec,Shivpuri,0.0,812,3506.666667
113,26,Dec,Shajapur,0.0,762,3500.041667
114,22,Dec,Sehore,0.0,748,3510.906977
115,24,Dec,Sagar,0.0,792,3441.718750
116,23,Dec,Ratlam,0.0,722,3586.928571
117,20,Dec,Rajgarh,0.0,766,3477.407407
118,25,Dec,Dhar,0.0,1060,3509.740741
119,21,Dec,Dewas,0.0,798,3523.035714

In [40]:
sp = sp.drop(sp.columns[[0]], axis=1)

In [41]:
sp

    arrival_date  district  Sold_Amount  Annual/yields  modal_price/Quintol
0            Jan   Vidisha      53370.0            615          3475.769231
1            Jan    Ujjain     213750.0            802          3280.304615
2            Jan  Shivpuri      13180.0            812          3513.547170
3            Jan  Shajapur      43839.0            762          3550.031088
4            Jan    Sehore      80840.0            748          3580.150442
5            Jan     Sagar      65066.0            792          3448.550336
6            Jan    Ratlam     127135.8            722          3607.105769
7            Jan   Rajgarh      82769.0            766          3553.826667
8            Jan      Dhar     149761.0           1060          3565.793893
9            Jan     Dewas     282214.0            798          3506.731481
10           Feb   Vidisha      11991.0            615          3532.883598
11           Feb    Ujjain      66818.0            802          3546.297030
12           Feb  Shivpuri       3265.0            812          3536.704225
13           Feb  Shajapur      15219.7            762          3590.928571
14           Feb    Sehore      27776.0            748          3430.963303
15           Feb     Sagar      29955.0            792          3488.366667
16           Feb    Ratlam      41736.0            722          3534.838384
17           Feb   Rajgarh      15304.0            766          3432.686486
18           Feb      Dhar      58257.0           1060          3434.840000
19           Feb     Dewas      95811.0            798          3562.613861
20           Mar   Vidisha      11810.0            615          3458.737864
21           Mar    Ujjain      35176.0            802          3389.285714
22           Mar  Shivpuri       1328.0            812          3227.083784
23           Mar  Shajapur       9399.7            762          3486.066667
24           Mar    Sehore      16115.0            748          3475.152174
25           Mar     Sagar      22084.0            792          3542.280488
26           Mar    Ratlam      27806.0            722          3329.820755
27           Mar   Rajgarh       6683.0            766          3566.957547
28           Mar      Dhar      29632.0           1060          3475.155738
29           Mar     Dewas      30601.0            798          3475.816514
..           ...       ...          ...            ...                  ...
90           Oct   Vidisha      63477.0            615          3381.458333
91           Oct    Ujjain     173554.0            802          3420.571429
92           Oct  Shivpuri      30228.0            812          3232.683333
93           Oct  Shajapur      26833.6            762          3420.631579
94           Oct    Sehore      69332.0            748          3491.846154
95           Oct     Sagar      86351.0            792          3510.160000
96           Oct    Ratlam      52304.4            722          3499.740741
97           Oct   Rajgarh      29574.0            766          3456.277778
98           Oct      Dhar      93928.0           1060          3346.178571
99           Oct     Dewas     161460.0            798          3427.269231
100          Nov   Vidisha      62290.0            615          3476.973684
101          Nov    Ujjain     151218.0            802          3299.372222
102          Nov  Shivpuri      34220.0            812          3443.866667
103          Nov  Shajapur      42059.0            762          3497.452830
104          Nov    Sehore      54986.0            748          3501.733333
105          Nov     Sagar     100657.0            792          3311.702703
106          Nov    Ratlam      46354.6            722          3592.931034
107          Nov   Rajgarh      22329.0            766          3494.102564
108          Nov      Dhar      93835.0           1060          3547.303030
109          Nov     Dewas     111668.0            798          3387.200000
110          Dec   Vidisha          0.0            615          3415.807692
111          Dec    Ujjain          0.0            802          3104.414706
112          Dec  Shivpuri          0.0            812          3506.666667
113          Dec  Shajapur          0.0            762          3500.041667
114          Dec    Sehore          0.0            748          3510.906977
115          Dec     Sagar          0.0            792          3441.718750
116          Dec    Ratlam          0.0            722          3586.928571
117          Dec   Rajgarh          0.0            766          3477.407407
118          Dec      Dhar          0.0           1060          3509.740741
119          Dec     Dewas          0.0            798          3523.035714

[120 rows x 5 columns]

In [42]:
ytest = sp.iloc[20:40,-1]

In [43]:
ytest

20    3458.737864
21    3389.285714
22    3227.083784
23    3486.066667
24    3475.152174
25    3542.280488
26    3329.820755
27    3566.957547
28    3475.155738
29    3475.816514
30    3516.800000
31    3523.488372
32    3512.872093
33    3529.809524
34    3599.787879
35    3425.295918
36    3512.525974
37    3530.485294
38    3270.900000
39    3382.000000
Name: modal_price/Quintol, dtype: float64

In [44]:
X = sp.iloc[: , :-1].values
y = sp.iloc[:,4].values

In [45]:
X

array([['Jan', 'Vidisha', 53370.0, 615],
       ['Jan', 'Ujjain', 213750.0, 802],
       ['Jan', 'Shivpuri', 13180.0, 812],
       ['Jan', 'Shajapur', 43839.0, 762],
       ['Jan', 'Sehore', 80840.0, 748],
       ['Jan', 'Sagar', 65066.0, 792],
       ['Jan', 'Ratlam', 127135.8, 722],
       ['Jan', 'Rajgarh', 82769.0, 766],
       ['Jan', 'Dhar', 149761.0, 1060],
       ['Jan', 'Dewas', 282214.0, 798],
       ['Feb', 'Vidisha', 11991.0, 615],
       ['Feb', 'Ujjain', 66818.0, 802],
       ['Feb', 'Shivpuri', 3265.0, 812],
       ['Feb', 'Shajapur', 15219.7, 762],
       ['Feb', 'Sehore', 27776.0, 748],
       ['Feb', 'Sagar', 29955.0, 792],
       ['Feb', 'Ratlam', 41736.0, 722],
       ['Feb', 'Rajgarh', 15304.0, 766],
       ['Feb', 'Dhar', 58257.0, 1060],
       ['Feb', 'Dewas', 95811.0, 798],
       ['Mar', 'Vidisha', 11810.0, 615],
       ['Mar', 'Ujjain', 35176.0, 802],
       ['Mar', 'Shivpuri', 1328.0, 812],
       ['Mar', 'Shajapur', 9399.7, 762],
       ['Mar', 'Sehore', 16115.0, 748],
       ['Mar', 'Sagar', 22084.0, 792],
       ['Mar', 'Ratlam', 27806.0, 722],
       ['Mar', 'Rajgarh', 6683.0, 766],
       ['Mar', 'Dhar', 29632.0, 1060],
       ['Mar', 'Dewas', 30601.0, 798],
       ['Apr', 'Vidisha', 2550.0, 615],
       ['Apr', 'Ujjain', 70271.0, 802],
       ['Apr', 'Shivpuri', 2358.0, 812],
       ['Apr', 'Shajapur', 12797.0, 762],
       ['Apr', 'Sehore', 31398.0, 748],
       ['Apr', 'Sagar', 16233.0, 792],
       ['Apr', 'Ratlam', 47473.0, 722],
       ['Apr', 'Rajgarh', 14645.0, 766],
       ['Apr', 'Dhar', 46629.0, 1060],
       ['Apr', 'Dewas', 103393.0, 798],
       ['May', 'Vidisha', 2357.0, 615],
       ['May', 'Ujjain', 73238.0, 802],
       ['May', 'Shivpuri', 2363.0, 812],
       ['May', 'Shajapur', 11816.0, 762],
       ['May', 'Sehore', 17102.0, 748],
       ['May', 'Sagar', 9556.0, 792],
       ['May', 'Ratlam', 49903.9, 722],
       ['May', 'Rajgarh', 7412.0, 766],
       ['May', 'Dhar', 49042.0, 1060],
       ['May', 'Dewas', 63197.0, 798],
       ['Jun', 'Vidisha', 22883.0, 615],
       ['Jun', 'Ujjain', 1052012.0, 802],
       ['Jun', 'Shivpuri', 2762.0, 812],
       ['Jun', 'Shajapur', 12046.0, 762],
       ['Jun', 'Sehore', 13084.0, 748],
       ['Jun', 'Sagar', 13981.0, 792],
       ['Jun', 'Ratlam', 51351.8, 722],
       ['Jun', 'Rajgarh', 9492.0, 766],
       ['Jun', 'Dhar', 50429.0, 1060],
       ['Jun', 'Dewas', 71371.0, 798],
       ['Jul', 'Vidisha', 27934.0, 615],
       ['Jul', 'Ujjain', 77648.0, 802],
       ['Jul', 'Shivpuri', 1585.0, 812],
       ['Jul', 'Shajapur', 17116.0, 762],
       ['Jul', 'Sehore', 50249.0, 748],
       ['Jul', 'Sagar', 35126.0, 792],
       ['Jul', 'Ratlam', 50484.8, 722],
       ['Jul', 'Rajgarh', 13463.0, 766],
       ['Jul', 'Dhar', 66946.0, 1060],
       ['Jul', 'Dewas', 122331.0, 798],
       ['Aug', 'Vidisha', 10496.0, 615],
       ['Aug', 'Ujjain', 31597.0, 802],
       ['Aug', 'Shivpuri', 216.0, 812],
       ['Aug', 'Shajapur', 9712.2, 762],
       ['Aug', 'Sehore', 45128.0, 748],
       ['Aug', 'Sagar', 31368.0, 792],
       ['Aug', 'Ratlam', 20081.7, 722],
       ['Aug', 'Rajgarh', 11334.0, 766],
       ['Aug', 'Dhar', 46071.0, 1060],
       ['Aug', 'Dewas', 64404.0, 798],
       ['Sep', 'Vidisha', 8041.0, 615],
       ['Sep', 'Ujjain', 32852.0, 802],
       ['Sep', 'Shivpuri', 906.0, 812],
       ['Sep', 'Shajapur', 3783.2, 762],
       ['Sep', 'Sehore', 28380.0, 748],
       ['Sep', 'Sagar', 22142.0, 792],
       ['Sep', 'Ratlam', 26478.1, 722],
       ['Sep', 'Rajgarh', 26764.0, 766],
       ['Sep', 'Dhar', 54008.0, 1060],
       ['Sep', 'Dewas', 64970.0, 798],
       ['Oct', 'Vidisha', 63477.0, 615],
       ['Oct', 'Ujjain', 173554.0, 802],
       ['Oct', 'Shivpuri', 30228.0, 812],
       ['Oct', 'Shajapur', 26833.6, 762],
       ['Oct', 'Sehore', 69332.0, 748],
       ['Oct', 'Sagar', 86351.0, 792],
       ['Oct', 'Ratlam', 52304.4, 722],
       ['Oct', 'Rajgarh', 29574.0, 766],
       ['Oct', 'Dhar', 93928.0, 1060],
       ['Oct', 'Dewas', 161460.0, 798],
       ['Nov', 'Vidisha', 62290.0, 615],
       ['Nov', 'Ujjain', 151218.0, 802],
       ['Nov', 'Shivpuri', 34220.0, 812],
       ['Nov', 'Shajapur', 42059.0, 762],
       ['Nov', 'Sehore', 54986.0, 748],
       ['Nov', 'Sagar', 100657.0, 792],
       ['Nov', 'Ratlam', 46354.6, 722],
       ['Nov', 'Rajgarh', 22329.0, 766],
       ['Nov', 'Dhar', 93835.0, 1060],
       ['Nov', 'Dewas', 111668.0, 798],
       ['Dec', 'Vidisha', 0.0, 615],
       ['Dec', 'Ujjain', 0.0, 802],
       ['Dec', 'Shivpuri', 0.0, 812],
       ['Dec', 'Shajapur', 0.0, 762],
       ['Dec', 'Sehore', 0.0, 748],
       ['Dec', 'Sagar', 0.0, 792],
       ['Dec', 'Ratlam', 0.0, 722],
       ['Dec', 'Rajgarh', 0.0, 766],
       ['Dec', 'Dhar', 0.0, 1060],
       ['Dec', 'Dewas', 0.0, 798]], dtype=object)

In [46]:
y

array([3475.769231, 3280.304615, 3513.54717 , 3550.031088, 3580.150442,
       3448.550336, 3607.105769, 3553.826667, 3565.793893, 3506.731481,
       3532.883598, 3546.29703 , 3536.704225, 3590.928571, 3430.963303,
       3488.366667, 3534.838384, 3432.686486, 3434.84    , 3562.613861,
       3458.737864, 3389.285714, 3227.083784, 3486.066667, 3475.152174,
       3542.280488, 3329.820755, 3566.957547, 3475.155738, 3475.816514,
       3516.8     , 3523.488372, 3512.872093, 3529.809524, 3599.787879,
       3425.295918, 3512.525974, 3530.485294, 3270.9     , 3382.      ,
       3552.836207, 3322.82803 , 3573.09375 , 3550.2625  , 3634.844444,
       3462.809524, 3631.442478, 3571.747967, 3551.548387, 3431.782051,
       3545.027397, 3597.609091, 3416.032967, 3527.282609, 3437.073684,
       3572.311688, 3330.872464, 3525.675676, 3523.975728, 3520.1     ,
       3357.860215, 3067.351701, 3453.192   , 3438.471429, 3503.415929,
       3438.771654, 3460.525424, 3433.087179, 3441.946429, 3376.525424,
       3414.3125  , 3624.387097, 3423.162162, 3526.545455, 3476.622951,
       3478.925926, 3265.956098, 3465.833333, 3404.567568, 3499.086957,
       3458.346154, 3480.827586, 3498.071429, 3413.914286, 3511.173913,
       3465.44898 , 3465.5     , 3093.682143, 3567.785714, 3407.      ,
       3381.458333, 3420.571429, 3232.683333, 3420.631579, 3491.846154,
       3510.16    , 3499.740741, 3456.277778, 3346.178571, 3427.269231,
       3476.973684, 3299.372222, 3443.866667, 3497.45283 , 3501.733333,
       3311.702703, 3592.931034, 3494.102564, 3547.30303 , 3387.2     ,
       3415.807692, 3104.414706, 3506.666667, 3500.041667, 3510.906977,
       3441.71875 , 3586.928571, 3477.407407, 3509.740741, 3523.035714])

### Label Encoding

In [47]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:,0])

In [48]:
X

array([[4, 'Vidisha', 53370.0, 615],
       [4, 'Ujjain', 213750.0, 802],
       [4, 'Shivpuri', 13180.0, 812],
       [4, 'Shajapur', 43839.0, 762],
       [4, 'Sehore', 80840.0, 748],
       [4, 'Sagar', 65066.0, 792],
       [4, 'Ratlam', 127135.8, 722],
       [4, 'Rajgarh', 82769.0, 766],
       [4, 'Dhar', 149761.0, 1060],
       [4, 'Dewas', 282214.0, 798],
       [3, 'Vidisha', 11991.0, 615],
       [3, 'Ujjain', 66818.0, 802],
       [3, 'Shivpuri', 3265.0, 812],
       [3, 'Shajapur', 15219.7, 762],
       [3, 'Sehore', 27776.0, 748],
       [3, 'Sagar', 29955.0, 792],
       [3, 'Ratlam', 41736.0, 722],
       [3, 'Rajgarh', 15304.0, 766],
       [3, 'Dhar', 58257.0, 1060],
       [3, 'Dewas', 95811.0, 798],
       [7, 'Vidisha', 11810.0, 615],
       [7, 'Ujjain', 35176.0, 802],
       [7, 'Shivpuri', 1328.0, 812],
       [7, 'Shajapur', 9399.7, 762],
       [7, 'Sehore', 16115.0, 748],
       [7, 'Sagar', 22084.0, 792],
       [7, 'Ratlam', 27806.0, 722],
       [7, 'Rajgarh', 6683.0, 766],
       [7, 'Dhar', 29632.0, 1060],
       [7, 'Dewas', 30601.0, 798],
       [0, 'Vidisha', 2550.0, 615],
       [0, 'Ujjain', 70271.0, 802],
       [0, 'Shivpuri', 2358.0, 812],
       [0, 'Shajapur', 12797.0, 762],
       [0, 'Sehore', 31398.0, 748],
       [0, 'Sagar', 16233.0, 792],
       [0, 'Ratlam', 47473.0, 722],
       [0, 'Rajgarh', 14645.0, 766],
       [0, 'Dhar', 46629.0, 1060],
       [0, 'Dewas', 103393.0, 798],
       [8, 'Vidisha', 2357.0, 615],
       [8, 'Ujjain', 73238.0, 802],
       [8, 'Shivpuri', 2363.0, 812],
       [8, 'Shajapur', 11816.0, 762],
       [8, 'Sehore', 17102.0, 748],
       [8, 'Sagar', 9556.0, 792],
       [8, 'Ratlam', 49903.9, 722],
       [8, 'Rajgarh', 7412.0, 766],
       [8, 'Dhar', 49042.0, 1060],
       [8, 'Dewas', 63197.0, 798],
       [6, 'Vidisha', 22883.0, 615],
       [6, 'Ujjain', 1052012.0, 802],
       [6, 'Shivpuri', 2762.0, 812],
       [6, 'Shajapur', 12046.0, 762],
       [6, 'Sehore', 13084.0, 748],
       [6, 'Sagar', 13981.0, 792],
       [6, 'Ratlam', 51351.8, 722],
       [6, 'Rajgarh', 9492.0, 766],
       [6, 'Dhar', 50429.0, 1060],
       [6, 'Dewas', 71371.0, 798],
       [5, 'Vidisha', 27934.0, 615],
       [5, 'Ujjain', 77648.0, 802],
       [5, 'Shivpuri', 1585.0, 812],
       [5, 'Shajapur', 17116.0, 762],
       [5, 'Sehore', 50249.0, 748],
       [5, 'Sagar', 35126.0, 792],
       [5, 'Ratlam', 50484.8, 722],
       [5, 'Rajgarh', 13463.0, 766],
       [5, 'Dhar', 66946.0, 1060],
       [5, 'Dewas', 122331.0, 798],
       [1, 'Vidisha', 10496.0, 615],
       [1, 'Ujjain', 31597.0, 802],
       [1, 'Shivpuri', 216.0, 812],
       [1, 'Shajapur', 9712.2, 762],
       [1, 'Sehore', 45128.0, 748],
       [1, 'Sagar', 31368.0, 792],
       [1, 'Ratlam', 20081.7, 722],
       [1, 'Rajgarh', 11334.0, 766],
       [1, 'Dhar', 46071.0, 1060],
       [1, 'Dewas', 64404.0, 798],
       [11, 'Vidisha', 8041.0, 615],
       [11, 'Ujjain', 32852.0, 802],
       [11, 'Shivpuri', 906.0, 812],
       [11, 'Shajapur', 3783.2, 762],
       [11, 'Sehore', 28380.0, 748],
       [11, 'Sagar', 22142.0, 792],
       [11, 'Ratlam', 26478.1, 722],
       [11, 'Rajgarh', 26764.0, 766],
       [11, 'Dhar', 54008.0, 1060],
       [11, 'Dewas', 64970.0, 798],
       [10, 'Vidisha', 63477.0, 615],
       [10, 'Ujjain', 173554.0, 802],
       [10, 'Shivpuri', 30228.0, 812],
       [10, 'Shajapur', 26833.6, 762],
       [10, 'Sehore', 69332.0, 748],
       [10, 'Sagar', 86351.0, 792],
       [10, 'Ratlam', 52304.4, 722],
       [10, 'Rajgarh', 29574.0, 766],
       [10, 'Dhar', 93928.0, 1060],
       [10, 'Dewas', 161460.0, 798],
       [9, 'Vidisha', 62290.0, 615],
       [9, 'Ujjain', 151218.0, 802],
       [9, 'Shivpuri', 34220.0, 812],
       [9, 'Shajapur', 42059.0, 762],
       [9, 'Sehore', 54986.0, 748],
       [9, 'Sagar', 100657.0, 792],
       [9, 'Ratlam', 46354.6, 722],
       [9, 'Rajgarh', 22329.0, 766],
       [9, 'Dhar', 93835.0, 1060],
       [9, 'Dewas', 111668.0, 798],
       [2, 'Vidisha', 0.0, 615],
       [2, 'Ujjain', 0.0, 802],
       [2, 'Shivpuri', 0.0, 812],
       [2, 'Shajapur', 0.0, 762],
       [2, 'Sehore', 0.0, 748],
       [2, 'Sagar', 0.0, 792],
       [2, 'Ratlam', 0.0, 722],
       [2, 'Rajgarh', 0.0, 766],
       [2, 'Dhar', 0.0, 1060],
       [2, 'Dewas', 0.0, 798]], dtype=object)

In [49]:
y

array([3475.769231, 3280.304615, 3513.54717 , 3550.031088, 3580.150442,
       3448.550336, 3607.105769, 3553.826667, 3565.793893, 3506.731481,
       3532.883598, 3546.29703 , 3536.704225, 3590.928571, 3430.963303,
       3488.366667, 3534.838384, 3432.686486, 3434.84    , 3562.613861,
       3458.737864, 3389.285714, 3227.083784, 3486.066667, 3475.152174,
       3542.280488, 3329.820755, 3566.957547, 3475.155738, 3475.816514,
       3516.8     , 3523.488372, 3512.872093, 3529.809524, 3599.787879,
       3425.295918, 3512.525974, 3530.485294, 3270.9     , 3382.      ,
       3552.836207, 3322.82803 , 3573.09375 , 3550.2625  , 3634.844444,
       3462.809524, 3631.442478, 3571.747967, 3551.548387, 3431.782051,
       3545.027397, 3597.609091, 3416.032967, 3527.282609, 3437.073684,
       3572.311688, 3330.872464, 3525.675676, 3523.975728, 3520.1     ,
       3357.860215, 3067.351701, 3453.192   , 3438.471429, 3503.415929,
       3438.771654, 3460.525424, 3433.087179, 3441.946429, 3376.525424,
       3414.3125  , 3624.387097, 3423.162162, 3526.545455, 3476.622951,
       3478.925926, 3265.956098, 3465.833333, 3404.567568, 3499.086957,
       3458.346154, 3480.827586, 3498.071429, 3413.914286, 3511.173913,
       3465.44898 , 3465.5     , 3093.682143, 3567.785714, 3407.      ,
       3381.458333, 3420.571429, 3232.683333, 3420.631579, 3491.846154,
       3510.16    , 3499.740741, 3456.277778, 3346.178571, 3427.269231,
       3476.973684, 3299.372222, 3443.866667, 3497.45283 , 3501.733333,
       3311.702703, 3592.931034, 3494.102564, 3547.30303 , 3387.2     ,
       3415.807692, 3104.414706, 3506.666667, 3500.041667, 3510.906977,
       3441.71875 , 3586.928571, 3477.407407, 3509.740741, 3523.035714])

In [50]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])

In [51]:
X

array([[4, 9, 53370.0, 615],
       [4, 8, 213750.0, 802],
       [4, 7, 13180.0, 812],
       [4, 6, 43839.0, 762],
       [4, 5, 80840.0, 748],
       [4, 4, 65066.0, 792],
       [4, 3, 127135.8, 722],
       [4, 2, 82769.0, 766],
       [4, 1, 149761.0, 1060],
       [4, 0, 282214.0, 798],
       [3, 9, 11991.0, 615],
       [3, 8, 66818.0, 802],
       [3, 7, 3265.0, 812],
       [3, 6, 15219.7, 762],
       [3, 5, 27776.0, 748],
       [3, 4, 29955.0, 792],
       [3, 3, 41736.0, 722],
       [3, 2, 15304.0, 766],
       [3, 1, 58257.0, 1060],
       [3, 0, 95811.0, 798],
       [7, 9, 11810.0, 615],
       [7, 8, 35176.0, 802],
       [7, 7, 1328.0, 812],
       [7, 6, 9399.7, 762],
       [7, 5, 16115.0, 748],
       [7, 4, 22084.0, 792],
       [7, 3, 27806.0, 722],
       [7, 2, 6683.0, 766],
       [7, 1, 29632.0, 1060],
       [7, 0, 30601.0, 798],
       [0, 9, 2550.0, 615],
       [0, 8, 70271.0, 802],
       [0, 7, 2358.0, 812],
       [0, 6, 12797.0, 762],
       [0, 5, 31398.0, 748],
       [0, 4, 16233.0, 792],
       [0, 3, 47473.0, 722],
       [0, 2, 14645.0, 766],
       [0, 1, 46629.0, 1060],
       [0, 0, 103393.0, 798],
       [8, 9, 2357.0, 615],
       [8, 8, 73238.0, 802],
       [8, 7, 2363.0, 812],
       [8, 6, 11816.0, 762],
       [8, 5, 17102.0, 748],
       [8, 4, 9556.0, 792],
       [8, 3, 49903.9, 722],
       [8, 2, 7412.0, 766],
       [8, 1, 49042.0, 1060],
       [8, 0, 63197.0, 798],
       [6, 9, 22883.0, 615],
       [6, 8, 1052012.0, 802],
       [6, 7, 2762.0, 812],
       [6, 6, 12046.0, 762],
       [6, 5, 13084.0, 748],
       [6, 4, 13981.0, 792],
       [6, 3, 51351.8, 722],
       [6, 2, 9492.0, 766],
       [6, 1, 50429.0, 1060],
       [6, 0, 71371.0, 798],
       [5, 9, 27934.0, 615],
       [5, 8, 77648.0, 802],
       [5, 7, 1585.0, 812],
       [5, 6, 17116.0, 762],
       [5, 5, 50249.0, 748],
       [5, 4, 35126.0, 792],
       [5, 3, 50484.8, 722],
       [5, 2, 13463.0, 766],
       [5, 1, 66946.0, 1060],
       [5, 0, 122331.0, 798],
       [1, 9, 10496.0, 615],
       [1, 8, 31597.0, 802],
       [1, 7, 216.0, 812],
       [1, 6, 9712.2, 762],
       [1, 5, 45128.0, 748],
       [1, 4, 31368.0, 792],
       [1, 3, 20081.7, 722],
       [1, 2, 11334.0, 766],
       [1, 1, 46071.0, 1060],
       [1, 0, 64404.0, 798],
       [11, 9, 8041.0, 615],
       [11, 8, 32852.0, 802],
       [11, 7, 906.0, 812],
       [11, 6, 3783.2, 762],
       [11, 5, 28380.0, 748],
       [11, 4, 22142.0, 792],
       [11, 3, 26478.1, 722],
       [11, 2, 26764.0, 766],
       [11, 1, 54008.0, 1060],
       [11, 0, 64970.0, 798],
       [10, 9, 63477.0, 615],
       [10, 8, 173554.0, 802],
       [10, 7, 30228.0, 812],
       [10, 6, 26833.6, 762],
       [10, 5, 69332.0, 748],
       [10, 4, 86351.0, 792],
       [10, 3, 52304.4, 722],
       [10, 2, 29574.0, 766],
       [10, 1, 93928.0, 1060],
       [10, 0, 161460.0, 798],
       [9, 9, 62290.0, 615],
       [9, 8, 151218.0, 802],
       [9, 7, 34220.0, 812],
       [9, 6, 42059.0, 762],
       [9, 5, 54986.0, 748],
       [9, 4, 100657.0, 792],
       [9, 3, 46354.6, 722],
       [9, 2, 22329.0, 766],
       [9, 1, 93835.0, 1060],
       [9, 0, 111668.0, 798],
       [2, 9, 0.0, 615],
       [2, 8, 0.0, 802],
       [2, 7, 0.0, 812],
       [2, 6, 0.0, 762],
       [2, 5, 0.0, 748],
       [2, 4, 0.0, 792],
       [2, 3, 0.0, 722],
       [2, 2, 0.0, 766],
       [2, 1, 0.0, 1060],
       [2, 0, 0.0, 798]], dtype=object)

In [52]:
onehotencoder = OneHotEncoder(categorical_features = [0])
X =  onehotencoder.fit_transform(X).toarray()

In [53]:
X

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 9.0000e+00, 5.3370e+04,
        6.1500e+02],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 8.0000e+00, 2.1375e+05,
        8.0200e+02],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 7.0000e+00, 1.3180e+04,
        8.1200e+02],
       ...,
       [0.0000e+00, 0.0000e+00, 1.0000e+00, ..., 2.0000e+00, 0.0000e+00,
        7.6600e+02],
       [0.0000e+00, 0.0000e+00, 1.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.0600e+03],
       [0.0000e+00, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        7.9800e+02]])

In [54]:
onehotencoder = OneHotEncoder(categorical_features = [12])
X =  onehotencoder.fit_transform(X).toarray()

In [55]:
X =pd.DataFrame(X)

In [31]:
X

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53370.0,615.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,213750.0,802.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13180.0,812.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43839.0,762.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80840.0,748.0
5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65066.0,792.0
6,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127135.8,722.0
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82769.0,766.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149761.0,1060.0
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,282214.0,798.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11991.0,615.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66818.0,802.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3265.0,812.0
13,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15219.7,762.0
14,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27776.0,748.0
15,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29955.0,792.0
16,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41736.0,722.0
17,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15304.0,766.0
18,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58257.0,1060.0
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95811.0,798.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11810.0,615.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,35176.0,802.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1328.0,812.0
23,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9399.7,762.0
24,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16115.0,748.0
25,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,22084.0,792.0
26,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,27806.0,722.0
27,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6683.0,766.0
28,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,29632.0,1060.0
29,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30601.0,798.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,63477.0,615.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,173554.0,802.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,30228.0,812.0
93,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,26833.6,762.0
94,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,69332.0,748.0
95,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,86351.0,792.0
96,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,52304.4,722.0
97,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,29574.0,766.0
98,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,93928.0,1060.0
99,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,161460.0,798.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,62290.0,615.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,151218.0,802.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,34220.0,812.0
103,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,42059.0,762.0
104,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,54986.0,748.0
105,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,100657.0,792.0
106,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,46354.6,722.0
107,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22329.0,766.0
108,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,93835.0,1060.0
109,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,111668.0,798.0
110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,615.0
111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,802.0
112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,812.0
113,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,762.0
114,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,748.0
115,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,792.0
116,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,722.0
117,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,766.0
118,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1060.0
119,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,798.0

In [56]:
y

array([3475.769231, 3280.304615, 3513.54717 , 3550.031088, 3580.150442,
       3448.550336, 3607.105769, 3553.826667, 3565.793893, 3506.731481,
       3532.883598, 3546.29703 , 3536.704225, 3590.928571, 3430.963303,
       3488.366667, 3534.838384, 3432.686486, 3434.84    , 3562.613861,
       3458.737864, 3389.285714, 3227.083784, 3486.066667, 3475.152174,
       3542.280488, 3329.820755, 3566.957547, 3475.155738, 3475.816514,
       3516.8     , 3523.488372, 3512.872093, 3529.809524, 3599.787879,
       3425.295918, 3512.525974, 3530.485294, 3270.9     , 3382.      ,
       3552.836207, 3322.82803 , 3573.09375 , 3550.2625  , 3634.844444,
       3462.809524, 3631.442478, 3571.747967, 3551.548387, 3431.782051,
       3545.027397, 3597.609091, 3416.032967, 3527.282609, 3437.073684,
       3572.311688, 3330.872464, 3525.675676, 3523.975728, 3520.1     ,
       3357.860215, 3067.351701, 3453.192   , 3438.471429, 3503.415929,
       3438.771654, 3460.525424, 3433.087179, 3441.946429, 3376.525424,
       3414.3125  , 3624.387097, 3423.162162, 3526.545455, 3476.622951,
       3478.925926, 3265.956098, 3465.833333, 3404.567568, 3499.086957,
       3458.346154, 3480.827586, 3498.071429, 3413.914286, 3511.173913,
       3465.44898 , 3465.5     , 3093.682143, 3567.785714, 3407.      ,
       3381.458333, 3420.571429, 3232.683333, 3420.631579, 3491.846154,
       3510.16    , 3499.740741, 3456.277778, 3346.178571, 3427.269231,
       3476.973684, 3299.372222, 3443.866667, 3497.45283 , 3501.733333,
       3311.702703, 3592.931034, 3494.102564, 3547.30303 , 3387.2     ,
       3415.807692, 3104.414706, 3506.666667, 3500.041667, 3510.906977,
       3441.71875 , 3586.928571, 3477.407407, 3509.740741, 3523.035714])

In [57]:
y = pd.DataFrame(y)

In [58]:
ytest = y.iloc[20:40 , :]

In [59]:
ytest

              0
20  3458.737864
21  3389.285714
22  3227.083784
23  3486.066667
24  3475.152174
25  3542.280488
26  3329.820755
27  3566.957547
28  3475.155738
29  3475.816514
30  3516.800000
31  3523.488372
32  3512.872093
33  3529.809524
34  3599.787879
35  3425.295918
36  3512.525974
37  3530.485294
38  3270.900000
39  3382.000000

In [60]:
y = np.asarray(y)

In [61]:
y  =  np.reshape(y, (-1,1))

In [62]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y =  StandardScaler()
X = sc_x.fit_transform(X)
y = sc_y.fit_transform(y)

In [63]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(X,y)

/home/akash/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [64]:
X.shape

(120, 24)

In [65]:
y.shape

(120, 1)

In [66]:
X_test = pd.read_csv("xtestsoya.csv")

FileNotFoundError: File b'xtestsoya.csv' does not exist

In [31]:
X_test

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,20,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,11810.0,605
1,21,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,35186.0,802
2,22,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1328.0,802
3,23,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,9389.7,762
4,24,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,16115.0,758
5,25,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,22074.0,792
6,26,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,27806.0,730
7,27,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,6678.0,766
8,28,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,29632.0,1050
9,29,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,30611.0,798
10,30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2550.0,610
11,31,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,70265.0,802
12,32,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2358.0,819
13,33,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,12787.0,762
14,34,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,31398.0,755
15,35,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,16240.0,792
16,36,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,47473.0,716
17,37,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14637.0,766
18,38,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46629.0,1050
19,39,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,103385.0,798

In [32]:
X_test = X_test.drop(X_test.columns[[0]], axis=1)

In [33]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,11810.0,605
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,35186.0,802
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1328.0,802
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,9389.7,762
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,16115.0,758
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,22074.0,792
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,27806.0,730
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,6678.0,766
8,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,29632.0,1050
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,30611.0,798
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2550.0,610
11,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,70265.0,802
12,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,2358.0,819
13,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,12787.0,762
14,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,31398.0,755
15,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16240.0,792
16,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,47473.0,716
17,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14637.0,766
18,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46629.0,1050
19,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,103385.0,798

In [34]:
y_predict = regressor.predict(sc_x.fit_transform(X_test))
y_predict = sc_y.inverse_transform(y_predict)

In [17]:
y_predict

NameError: name 'y_predict' is not defined

In [36]:
y_predict =pd.DataFrame(y_predict)

In [37]:
y_predict

              0
0   3440.193239
1   3389.697073
2   3443.185159
3   3494.195037
4   3503.832923
5   3463.744413
6   3496.095264
7   3496.061711
8   3486.590098
9   3456.279294
10  3470.286998
11  3435.212886
12  3486.560278
13  3513.284069
14  3544.123179
15  3437.982608
16  3531.229395
17  3496.474725
18  3469.205793
19  3442.855669

In [38]:
ytest

              0
20  3458.737864
21  3389.285714
22  3227.083784
23  3486.066667
24  3475.152174
25  3542.280488
26  3329.820755
27  3566.957547
28  3475.155738
29  3475.816514
30  3516.800000
31  3523.488372
32  3512.872093
33  3529.809524
34  3599.787879
35  3425.295918
36  3512.525974
37  3530.485294
38  3270.900000
39  3382.000000