In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('SawerData.csv',parse_dates=True)

In [3]:
dataset.head()

,Date,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Arrival/Quintol,Yield,Rainfall/mm,MSP/quintal,Modal Price (Rs./Quintal)
0,04-Jan-17,Sanwer,Soyabean,Yellow,FAQ,2700,3005,2133.7,815,0.0,3050,2839
1,06-Jan-17,Sanwer,Soyabean,Yellow,FAQ,2700,3000,2133.7,815,0.0,3050,2950
2,07-Jan-17,Sanwer,Soyabean,Yellow,FAQ,2730,2996,2133.7,815,0.0,3050,2850
3,09-Jan-17,Sanwer,Soyabean,Yellow,FAQ,2681,2903,2133.7,815,0.0,3050,2825
4,10-Jan-17,Sanwer,Soyabean,Yellow,FAQ,2675,2888,2133.7,815,0.0,3050,2775

In [4]:
dataset.drop(['Market Name','Commodity', 'Variety','Variety','Grade','Min Price (Rs./Quintal)','Max Price (Rs./Quintal)'], axis = 1,inplace=True)

In [5]:
#dataset['Date']=pd.to_datetime(dataset['Date'])

In [6]:
#dataset['Date'] = pd.to_numeric(dataset['Date'] , errors = 'coerce')

In [7]:
dataset.head()

,Date,Arrival/Quintol,Yield,Rainfall/mm,MSP/quintal,Modal Price (Rs./Quintal)
0,04-Jan-17,2133.7,815,0.0,3050,2839
1,06-Jan-17,2133.7,815,0.0,3050,2950
2,07-Jan-17,2133.7,815,0.0,3050,2850
3,09-Jan-17,2133.7,815,0.0,3050,2825
4,10-Jan-17,2133.7,815,0.0,3050,2775

In [8]:
dataset = dataset.astype('float64')

ValueError: could not convert string to float: '04-Jan-17'

In [ ]:
dataset = dataset.set_index("Date")

In [ ]:
#dataset.Date=dataset.Date.astype(str)

In [ ]:
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
classifier=Sequential()

In [ ]:
classifier.add(Dense(output_dim=6,init='uniform',activation='relu',input_dim=11))

In [ ]:
classifier.add(Dense(output_dim=6,init='uniform',activation='relu'))

In [ ]:
classifier.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))

In [ ]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred > 0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)

In [ ]:
cm