In [35]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
# from fbprophet import Prophet
import chart_studio as py
import plotly.graph_objs as go

In [8]:
ls  = pd.read_csv('C:/Users/RISHABH/Documents/LATESTSOYBEANINDIA.csv')

In [9]:
ls

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Date
0,1,Chittor,Madanapalli,Soyabean,Soyabeen,Medium,2600.0,3000.0,2700.0,08-Dec-15
1,2,Chittor,Madanapalli,Soyabean,Local,Medium,2600.0,3000.0,2700.0,07-Dec-15
2,3,Chittor,Madanapalli,Soyabean,Soyabeen,Medium,2600.0,3000.0,2700.0,30-Nov-15
3,4,Chittor,Madanapalli,Soyabean,Soyabeen,Medium,2600.0,3000.0,2700.0,29-Nov-15
4,5,Chittor,Madanapalli,Soyabean,Soyabeen,Medium,2600.0,3000.0,2700.0,28-Nov-15
5,6,Saharsa,Saharsa,Soyabean,Soyabeen,FAQ,8000.0,8200.0,8100.0,12-Feb-15
6,7,Saharsa,Saharsa,Soyabean,Soyabeen,FAQ,8100.0,8200.0,8150.0,11-Feb-15
7,8,Saharsa,Saharsa,Soyabean,Soyabeen,FAQ,8200.0,8300.0,8250.0,10-Feb-15
8,9,Saharsa,Saharsa,Soyabean,Soyabeen,FAQ,8000.0,8200.0,8100.0,09-Feb-15
9,10,Raipur,Arang,Soyabean,Soyabeen,FAQ,3255.0,3255.0,3255.0,30-Nov-19
10,11,Raipur,Arang,Soyabean,Soyabeen,FAQ,3732.0,3732.0,3732.0,31-Oct-19
11,12,Raipur,Arang,Soyabean,Soyabeen,FAQ,3556.0,3556.0,3556.0,31-Jul-19
12,13,Raipur,Arang,Soyabean,Soyabeen,FAQ,3630.0,3630.0,3630.0,02-Jul-19
13,14,Raipur,Arang,Soyabean,Soyabeen,FAQ,3630.0,3630.0,3630.0,01-Jul-19
14,15,Raipur,Arang,Soyabean,Soyabeen,FAQ,3644.0,3651.0,3649.0,30-Jun-19
15,16,Raipur,Arang,Soyabean,Soyabeen,FAQ,3755.0,3755.0,3755.0,31-May-19
16,17,Raipur,Arang,Soyabean,Soyabeen,FAQ,3282.0,3282.0,3282.0,28-Feb-19
17,18,Raipur,Arang,Soyabean,Soyabeen,FAQ,3100.0,3111.0,3106.0,28-Nov-18
18,19,Raipur,Arang,Soyabean,Soyabeen,FAQ,3000.0,3000.0,3000.0,30-Oct-18
19,20,Raipur,Arang,Soyabean,Soyabeen,FAQ,3115.0,3115.0,3115.0,09-Oct-18
20,21,Raipur,Arang,Soyabean,Soyabeen,FAQ,3040.0,3045.0,3043.0,19-Sep-18
21,22,Raipur,Arang,Soyabean,Soyabeen,FAQ,3090.0,3090.0,3090.0,28-Jul-18
22,23,Raipur,Arang,Soyabean,Soyabeen,FAQ,3050.0,3050.0,3050.0,27-Jun-18
23,24,Balod,Balod,Soyabean,Other,FAQ,3200.0,3200.0,3200.0,14-Oct-15
24,25,Balod,Balod,Soyabean,Other,FAQ,2610.0,2610.0,2610.0,28-Feb-15
25,26,Kanker,Bardewri,Soyabean,Soyabeen,FAQ,2500.0,2500.0,2500.0,14-Mar-18
26,27,Kanker,Bardewri,Soyabean,Soyabeen,FAQ,2500.0,2500.0,2500.0,21-Oct-17
27,28,Kanker,Bardewri,Soyabean,Local,FAQ,2500.0,2500.0,2500.0,02-Oct-17
28,29,Rajnandgaon,Bazar Atriya,Soyabean,Other,FAQ,3000.0,3400.0,3200.0,30-Nov-19
29,30,Rajnandgaon,Bazar Atriya,Soyabean,Other,FAQ,3000.0,3300.0,3200.0,29-Nov-19
...,...,...,...,...,...,...,...,...,...,...
503604,503605,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,2180.0,1700.0,29-Mar-11
503605,503606,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,1320.0,1310.0,22-Mar-11
503606,503607,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,1350.0,1315.0,21-Mar-11
503607,503608,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,1330.0,1317.0,16-Mar-11
503608,503609,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1314.0,1340.0,1330.0,14-Mar-11
503609,503610,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,2000.0,2200.0,2129.0,07-Mar-11
503610,503611,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,2000.0,2200.0,2142.0,06-Mar-11
503611,503612,UdhamSinghNagar,Sitarganj,Soyabean,Yellow,FAQ,2200.0,2250.0,2221.0,16-Feb-11
503612,503613,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,2200.0,2300.0,2224.0,15-Feb-11
503613,503614,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,2225.0,2230.0,2226.0,13-Feb-11
503614,503615,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,1300.0,1300.0,11-Feb-11
503615,503616,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1950.0,2000.0,1987.0,01-Feb-11
503616,503617,UdhamSinghNagar,Sitarganj,Soyabean,Local,FAQ,1920.0,2000.0,1947.0,31-Jan-11
503617,503618,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1950.0,2000.0,2000.0,30-Jan-11
503618,503619,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1300.0,1300.0,1300.0,25-Jan-11
503619,503620,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1600.0,1600.0,1600.0,08-Jan-11
503620,503621,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1980.0,2000.0,1990.0,30-Dec-10
503621,503622,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1990.0,2000.0,1995.0,29-Dec-10
503622,503623,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1986.0,2000.0,1995.0,28-Dec-10
503623,503624,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1990.0,2000.0,1995.0,27-Dec-10
503624,503625,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1990.0,2000.0,1996.0,26-Dec-10
503625,503626,UdhamSinghNagar,Sitarganj,Soyabean,Soyabeen,FAQ,1950.0,2000.0,1986.0,25-Dec-10
503626,503627,UdhamSinghNagar,Sitarganj,Soyabean,Local,FAQ,1300.0,1400.0,1350.0,15-Dec-10
503627,503628,UdhamSinghNagar,Sitarganj,Soyabean,Yellow,FAQ,1900.0,2100.0,2000.0,10-Dec-10
503628,503629,Dehradoon,Vikasnagar,Soyabean,Other,FAQ,3600.0,3600.0,3600.0,10-Aug-16
503629,503630,Dehradoon,Vikasnagar,Soyabean,Other,FAQ,2000.0,2500.0,2500.0,09-Mar-16
503630,503631,Bankura,Bishnupur(Bankura),Soyabean,Other,FAQ,0.0,5200.0,5200.0,02-Nov-13
503631,503632,Bankura,Bishnupur(Bankura),Soyabean,Other,FAQ,0.0,5300.0,5300.0,09-Oct-13
503632,503633,Bankura,Bishnupur(Bankura),Soyabean,Other,FAQ,0.0,5400.0,5400.0,03-Sep-13
503633,503634,Bankura,Bishnupur(Bankura),Soyabean,Other,FAQ,0.0,5400.0,5400.0,03-Jul-13

In [10]:
ls = ls.drop(ls.columns[[0,2,3,4,5,6,7]], axis=1)

In [11]:
ls

          District Name  Modal Price (Rs./Quintal)       Date
0               Chittor                     2700.0  08-Dec-15
1               Chittor                     2700.0  07-Dec-15
2               Chittor                     2700.0  30-Nov-15
3               Chittor                     2700.0  29-Nov-15
4               Chittor                     2700.0  28-Nov-15
5               Saharsa                     8100.0  12-Feb-15
6               Saharsa                     8150.0  11-Feb-15
7               Saharsa                     8250.0  10-Feb-15
8               Saharsa                     8100.0  09-Feb-15
9                Raipur                     3255.0  30-Nov-19
10               Raipur                     3732.0  31-Oct-19
11               Raipur                     3556.0  31-Jul-19
12               Raipur                     3630.0  02-Jul-19
13               Raipur                     3630.0  01-Jul-19
14               Raipur                     3649.0  30-Jun-19
15               Raipur                     3755.0  31-May-19
16               Raipur                     3282.0  28-Feb-19
17               Raipur                     3106.0  28-Nov-18
18               Raipur                     3000.0  30-Oct-18
19               Raipur                     3115.0  09-Oct-18
20               Raipur                     3043.0  19-Sep-18
21               Raipur                     3090.0  28-Jul-18
22               Raipur                     3050.0  27-Jun-18
23                Balod                     3200.0  14-Oct-15
24                Balod                     2610.0  28-Feb-15
25               Kanker                     2500.0  14-Mar-18
26               Kanker                     2500.0  21-Oct-17
27               Kanker                     2500.0  02-Oct-17
28          Rajnandgaon                     3200.0  30-Nov-19
29          Rajnandgaon                     3200.0  29-Nov-19
...                 ...                        ...        ...
503604  UdhamSinghNagar                     1700.0  29-Mar-11
503605  UdhamSinghNagar                     1310.0  22-Mar-11
503606  UdhamSinghNagar                     1315.0  21-Mar-11
503607  UdhamSinghNagar                     1317.0  16-Mar-11
503608  UdhamSinghNagar                     1330.0  14-Mar-11
503609  UdhamSinghNagar                     2129.0  07-Mar-11
503610  UdhamSinghNagar                     2142.0  06-Mar-11
503611  UdhamSinghNagar                     2221.0  16-Feb-11
503612  UdhamSinghNagar                     2224.0  15-Feb-11
503613  UdhamSinghNagar                     2226.0  13-Feb-11
503614  UdhamSinghNagar                     1300.0  11-Feb-11
503615  UdhamSinghNagar                     1987.0  01-Feb-11
503616  UdhamSinghNagar                     1947.0  31-Jan-11
503617  UdhamSinghNagar                     2000.0  30-Jan-11
503618  UdhamSinghNagar                     1300.0  25-Jan-11
503619  UdhamSinghNagar                     1600.0  08-Jan-11
503620  UdhamSinghNagar                     1990.0  30-Dec-10
503621  UdhamSinghNagar                     1995.0  29-Dec-10
503622  UdhamSinghNagar                     1995.0  28-Dec-10
503623  UdhamSinghNagar                     1995.0  27-Dec-10
503624  UdhamSinghNagar                     1996.0  26-Dec-10
503625  UdhamSinghNagar                     1986.0  25-Dec-10
503626  UdhamSinghNagar                     1350.0  15-Dec-10
503627  UdhamSinghNagar                     2000.0  10-Dec-10
503628        Dehradoon                     3600.0  10-Aug-16
503629        Dehradoon                     2500.0  09-Mar-16
503630          Bankura                     5200.0  02-Nov-13
503631          Bankura                     5300.0  09-Oct-13
503632          Bankura                     5400.0  03-Sep-13
503633          Bankura                     5400.0  03-Jul-13

[503634 rows x 3 columns]

In [21]:
ls['Date']=pd.to_datetime(ls['Date'])

In [12]:
# ls = ls.groupby([pd.to_datetime(ls.Date).dt.strftime('%b%Y'),'District Name'])['Modal Price (Rs./Quintal)'].mean().reset_index(name='Modal Price (Rs./Quintal)')

In [22]:
ls

            Date District Name  Modal Price (Rs./Quintal)
0     2010-04-01      Adilabad                1950.000000
1     2010-04-01    Ahmednagar                1834.442857
2     2010-04-01         Akola                1898.642857
3     2010-04-01     Alirajpur                1903.333333
4     2010-04-01     Amarawati                1891.964912
5     2010-04-01    Ashoknagar                1879.714286
6     2010-04-01       Badwani                1866.166667
7     2010-04-01   Balodabazar                1743.500000
8     2010-04-01     Bangalore                2400.000000
9     2010-04-01         Baran                1945.936170
10    2010-04-01          Beed                1852.515625
11    2010-04-01       Belgaum                1898.400000
12    2010-04-01      Bemetara                1881.250000
13    2010-04-01      Bhandara                1747.272727
14    2010-04-01     Bhavnagar                1857.500000
15    2010-04-01        Bhopal                1819.423077
16    2010-04-01         Bidar                1791.764706
17    2010-04-01      Buldhana                1873.846774
18    2010-04-01         Bundi                1908.333333
19    2010-04-01     Burhanpur                1752.700000
20    2010-04-01    Chandrapur                1968.690476
21    2010-04-01    Chhindwara                1853.500000
22    2010-04-01   Chittorgarh                1865.938776
23    2010-04-01         Dahod                1948.000000
24    2010-04-01         Damoh                1821.909091
25    2010-04-01         Dewas                1844.352273
26    2010-04-01          Dhar                1754.200000
27    2010-04-01       Dharwad                1728.868421
28    2010-04-01         Dhule                2074.266667
29    2010-04-01         Gadag                1289.000000
...          ...           ...                        ...
12127 2019-09-01   Narsinghpur                3567.605263
12128 2019-09-01        Nashik                3684.000000
12129 2019-09-01       Neemuch                3678.714286
12130 2019-09-01     Nizamabad                3345.285714
12131 2019-09-01     Osmanabad                3769.173913
12132 2019-09-01      Parbhani                3608.065217
12133 2019-09-01          Pune                3367.333333
12134 2019-09-01        Raisen                3397.354167
12135 2019-09-01       Rajgarh                3844.421053
12136 2019-09-01        Rajkot                3151.518519
12137 2019-09-01   Rajnandgaon                3575.971429
12138 2019-09-01        Ratlam                3681.858407
12139 2019-09-01          Rewa                3032.500000
12140 2019-09-01   Sabarkantha                3600.000000
12141 2019-09-01         Sagar                3535.617978
12142 2019-09-01         Satna                3137.727273
12143 2019-09-01        Sehore                3771.755319
12144 2019-09-01         Seoni                3443.000000
12145 2019-09-01      Shajapur                3625.000000
12146 2019-09-01       Shehdol                3380.333333
12147 2019-09-01       Sheopur                3649.700000
12148 2019-09-01      Shivpuri                3508.800000
12149 2019-09-01      Sholapur                3759.375000
12150 2019-09-01     Tikamgarh                3624.000000
12151 2019-09-01       Udaipur                3413.636364
12152 2019-09-01        Ujjain                3348.689051
12153 2019-09-01        Vashim                3714.468750
12154 2019-09-01       Vidisha                3582.750000
12155 2019-09-01        Wardha                3597.562500
12156 2019-09-01      Yavatmal                3678.586667

[12157 rows x 3 columns]

In [23]:
nk = ls[ls['District Name']=='Indore']

In [24]:
nk

            Date District Name  Modal Price (Rs./Quintal)
37    2010-04-01        Indore                1893.600000
128   2011-04-01        Indore                2117.925000
215   2012-04-01        Indore                2917.300000
306   2013-04-01        Indore                3381.879310
404   2014-04-01        Indore                4149.351351
506   2015-04-01        Indore                3466.867925
608   2016-04-01        Indore                3731.861538
722   2017-04-01        Indore                2844.136986
829   2018-04-01        Indore                3524.787500
935   2019-04-01        Indore                3582.000000
1027  2010-08-01        Indore                1931.987952
1113  2011-08-01        Indore                2206.962025
1197  2012-08-01        Indore                4022.745763
1281  2013-08-01        Indore                3354.163636
1375  2014-08-01        Indore                3590.259259
1470  2015-08-01        Indore                3150.303571
1570  2016-08-01        Indore                3400.907407
1674  2017-08-01        Indore                2869.672131
1774  2018-08-01        Indore                3251.819277
1867  2019-08-01        Indore                3513.325301
1962  2010-12-01        Indore                2072.142857
2060  2011-12-01        Indore                2192.565217
2159  2012-12-01        Indore                3116.717647
2262  2013-12-01        Indore                3679.219512
2369  2014-12-01        Indore                3125.446809
2488  2015-12-01        Indore                3509.053763
2606  2016-12-01        Indore                2900.983871
2723  2017-12-01        Indore                2845.522727
2833  2018-12-01        Indore                3210.162791
2934  2019-12-01        Indore                3820.312500
...          ...           ...                        ...
9049  2010-11-01        Indore                2079.855556
9149  2011-11-01        Indore                2058.123711
9251  2012-11-01        Indore                3112.412500
9352  2013-11-01        Indore                3604.463415
9465  2014-11-01        Indore                3066.102564
9586  2015-11-01        Indore                3572.815789
9700  2016-11-01        Indore                2860.731343
9818  2017-11-01        Indore                2643.780488
9930  2018-11-01        Indore                3145.438596
10034 2019-11-01        Indore                3729.734694
10141 2010-10-01        Indore                1959.655914
10239 2011-10-01        Indore                1947.689189
10338 2012-10-01        Indore                2930.527778
10441 2013-10-01        Indore                3232.740000
10546 2014-10-01        Indore                2875.310811
10664 2015-10-01        Indore                3645.500000
10779 2016-10-01        Indore                2802.545455
10892 2017-10-01        Indore                2627.615385
11004 2018-10-01        Indore                3023.341463
11109 2019-10-01        Indore                3387.977273
11209 2010-09-01        Indore                1839.921348
11299 2011-09-01        Indore                2129.513158
11388 2012-09-01        Indore                3549.133333
11483 2013-09-01        Indore                3276.602941
11580 2014-09-01        Indore                3278.466667
11684 2015-09-01        Indore                3147.367647
11790 2016-09-01        Indore                2958.968254
11900 2017-09-01        Indore                2805.190476
12003 2018-09-01        Indore                3169.380282
12104 2019-09-01        Indore                3684.897727

[120 rows x 3 columns]

In [25]:
nk.columns = [str(x).lower().replace(' ', '_') for x in nk.columns]

In [26]:
nk

            date district_name  modal_price_(rs./quintal)
37    2010-04-01        Indore                1893.600000
128   2011-04-01        Indore                2117.925000
215   2012-04-01        Indore                2917.300000
306   2013-04-01        Indore                3381.879310
404   2014-04-01        Indore                4149.351351
506   2015-04-01        Indore                3466.867925
608   2016-04-01        Indore                3731.861538
722   2017-04-01        Indore                2844.136986
829   2018-04-01        Indore                3524.787500
935   2019-04-01        Indore                3582.000000
1027  2010-08-01        Indore                1931.987952
1113  2011-08-01        Indore                2206.962025
1197  2012-08-01        Indore                4022.745763
1281  2013-08-01        Indore                3354.163636
1375  2014-08-01        Indore                3590.259259
1470  2015-08-01        Indore                3150.303571
1570  2016-08-01        Indore                3400.907407
1674  2017-08-01        Indore                2869.672131
1774  2018-08-01        Indore                3251.819277
1867  2019-08-01        Indore                3513.325301
1962  2010-12-01        Indore                2072.142857
2060  2011-12-01        Indore                2192.565217
2159  2012-12-01        Indore                3116.717647
2262  2013-12-01        Indore                3679.219512
2369  2014-12-01        Indore                3125.446809
2488  2015-12-01        Indore                3509.053763
2606  2016-12-01        Indore                2900.983871
2723  2017-12-01        Indore                2845.522727
2833  2018-12-01        Indore                3210.162791
2934  2019-12-01        Indore                3820.312500
...          ...           ...                        ...
9049  2010-11-01        Indore                2079.855556
9149  2011-11-01        Indore                2058.123711
9251  2012-11-01        Indore                3112.412500
9352  2013-11-01        Indore                3604.463415
9465  2014-11-01        Indore                3066.102564
9586  2015-11-01        Indore                3572.815789
9700  2016-11-01        Indore                2860.731343
9818  2017-11-01        Indore                2643.780488
9930  2018-11-01        Indore                3145.438596
10034 2019-11-01        Indore                3729.734694
10141 2010-10-01        Indore                1959.655914
10239 2011-10-01        Indore                1947.689189
10338 2012-10-01        Indore                2930.527778
10441 2013-10-01        Indore                3232.740000
10546 2014-10-01        Indore                2875.310811
10664 2015-10-01        Indore                3645.500000
10779 2016-10-01        Indore                2802.545455
10892 2017-10-01        Indore                2627.615385
11004 2018-10-01        Indore                3023.341463
11109 2019-10-01        Indore                3387.977273
11209 2010-09-01        Indore                1839.921348
11299 2011-09-01        Indore                2129.513158
11388 2012-09-01        Indore                3549.133333
11483 2013-09-01        Indore                3276.602941
11580 2014-09-01        Indore                3278.466667
11684 2015-09-01        Indore                3147.367647
11790 2016-09-01        Indore                2958.968254
11900 2017-09-01        Indore                2805.190476
12003 2018-09-01        Indore                3169.380282
12104 2019-09-01        Indore                3684.897727

[120 rows x 3 columns]

In [27]:
nk.sort_values(by='date', inplace=True, ascending=True)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
nk

        date district_name  modal_price_(rs./quintal)
0    Apr2010        Indore                1893.600000
1    Apr2011        Indore                2117.925000
2    Apr2012        Indore                2917.300000
3    Apr2013        Indore                3381.879310
4    Apr2014        Indore                4149.351351
5    Apr2015        Indore                3466.867925
6    Apr2016        Indore                3731.861538
7    Apr2017        Indore                2844.136986
8    Apr2018        Indore                3524.787500
9    Apr2019        Indore                3582.000000
10   Aug2010        Indore                1931.987952
11   Aug2011        Indore                2206.962025
12   Aug2012        Indore                4022.745763
13   Aug2013        Indore                3354.163636
14   Aug2014        Indore                3590.259259
15   Aug2015        Indore                3150.303571
16   Aug2016        Indore                3400.907407
17   Aug2017        Indore                2869.672131
18   Aug2018        Indore                3251.819277
19   Aug2019        Indore                3513.325301
20   Dec2010        Indore                2072.142857
21   Dec2011        Indore                2192.565217
22   Dec2012        Indore                3116.717647
23   Dec2013        Indore                3679.219512
24   Dec2014        Indore                3125.446809
25   Dec2015        Indore                3509.053763
26   Dec2016        Indore                2900.983871
27   Dec2017        Indore                2845.522727
28   Dec2018        Indore                3210.162791
29   Dec2019        Indore                3820.312500
..       ...           ...                        ...
90   Nov2010        Indore                2079.855556
91   Nov2011        Indore                2058.123711
92   Nov2012        Indore                3112.412500
93   Nov2013        Indore                3604.463415
94   Nov2014        Indore                3066.102564
95   Nov2015        Indore                3572.815789
96   Nov2016        Indore                2860.731343
97   Nov2017        Indore                2643.780488
98   Nov2018        Indore                3145.438596
99   Nov2019        Indore                3729.734694
100  Oct2010        Indore                1959.655914
101  Oct2011        Indore                1947.689189
102  Oct2012        Indore                2930.527778
103  Oct2013        Indore                3232.740000
104  Oct2014        Indore                2875.310811
105  Oct2015        Indore                3645.500000
106  Oct2016        Indore                2802.545455
107  Oct2017        Indore                2627.615385
108  Oct2018        Indore                3023.341463
109  Oct2019        Indore                3387.977273
110  Sep2010        Indore                1839.921348
111  Sep2011        Indore                2129.513158
112  Sep2012        Indore                3549.133333
113  Sep2013        Indore                3276.602941
114  Sep2014        Indore                3278.466667
115  Sep2015        Indore                3147.367647
116  Sep2016        Indore                2958.968254
117  Sep2017        Indore                2805.190476
118  Sep2018        Indore                3169.380282
119  Sep2019        Indore                3684.897727

[120 rows x 3 columns]

In [32]:
nk = nk.groupby([pd.to_datetime(nk.date).dt.strftime('%b%Y'),'district_name'])['modal_price_(rs./quintal)'].mean().reset_index(name='modal_price_(rs./quintal)')

In [33]:
nk

        date district_name  modal_price_(rs./quintal)
0    Apr2010        Indore                1893.600000
1    Apr2011        Indore                2117.925000
2    Apr2012        Indore                2917.300000
3    Apr2013        Indore                3381.879310
4    Apr2014        Indore                4149.351351
5    Apr2015        Indore                3466.867925
6    Apr2016        Indore                3731.861538
7    Apr2017        Indore                2844.136986
8    Apr2018        Indore                3524.787500
9    Apr2019        Indore                3582.000000
10   Aug2010        Indore                1931.987952
11   Aug2011        Indore                2206.962025
12   Aug2012        Indore                4022.745763
13   Aug2013        Indore                3354.163636
14   Aug2014        Indore                3590.259259
15   Aug2015        Indore                3150.303571
16   Aug2016        Indore                3400.907407
17   Aug2017        Indore                2869.672131
18   Aug2018        Indore                3251.819277
19   Aug2019        Indore                3513.325301
20   Dec2010        Indore                2072.142857
21   Dec2011        Indore                2192.565217
22   Dec2012        Indore                3116.717647
23   Dec2013        Indore                3679.219512
24   Dec2014        Indore                3125.446809
25   Dec2015        Indore                3509.053763
26   Dec2016        Indore                2900.983871
27   Dec2017        Indore                2845.522727
28   Dec2018        Indore                3210.162791
29   Dec2019        Indore                3820.312500
..       ...           ...                        ...
90   Nov2010        Indore                2079.855556
91   Nov2011        Indore                2058.123711
92   Nov2012        Indore                3112.412500
93   Nov2013        Indore                3604.463415
94   Nov2014        Indore                3066.102564
95   Nov2015        Indore                3572.815789
96   Nov2016        Indore                2860.731343
97   Nov2017        Indore                2643.780488
98   Nov2018        Indore                3145.438596
99   Nov2019        Indore                3729.734694
100  Oct2010        Indore                1959.655914
101  Oct2011        Indore                1947.689189
102  Oct2012        Indore                2930.527778
103  Oct2013        Indore                3232.740000
104  Oct2014        Indore                2875.310811
105  Oct2015        Indore                3645.500000
106  Oct2016        Indore                2802.545455
107  Oct2017        Indore                2627.615385
108  Oct2018        Indore                3023.341463
109  Oct2019        Indore                3387.977273
110  Sep2010        Indore                1839.921348
111  Sep2011        Indore                2129.513158
112  Sep2012        Indore                3549.133333
113  Sep2013        Indore                3276.602941
114  Sep2014        Indore                3278.466667
115  Sep2015        Indore                3147.367647
116  Sep2016        Indore                2958.968254
117  Sep2017        Indore                2805.190476
118  Sep2018        Indore                3169.380282
119  Sep2019        Indore                3684.897727

[120 rows x 3 columns]

In [ ]:
# nk['date']=pd.to_datetime(nk['date'])

In [18]:
io = nk[((nk.date >= 'Jan2017'))]

In [19]:
io.sort_values(by='date', inplace=True, ascending=True)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
io

          date district_name  modal_price_(rs./quintal)
4795   Jan2017        Indore                2867.000000
4908   Jan2018        Indore                3165.082353
5016   Jan2019        Indore                3439.389474
5113   Jul2010        Indore                1828.094340
5202   Jul2011        Indore                2157.770270
5283   Jul2012        Indore                4106.394737
5378   Jul2013        Indore                3347.075758
5477   Jul2014        Indore                3824.385965
5576   Jul2015        Indore                3272.424242
5681   Jul2016        Indore                3469.681818
5790   Jul2017        Indore                2825.089286
5896   Jul2018        Indore                3344.348837
5998   Jul2019        Indore                3479.774510
6088   Jun2010        Indore                1830.367347
6174   Jun2011        Indore                2183.282051
6254   Jun2012        Indore                3264.512821
6343   Jun2013        Indore                3547.183099
6439   Jun2014        Indore                4007.777778
6537   Jun2015        Indore                3490.276316
6644   Jun2016        Indore                3623.484848
6753   Jun2017        Indore                2788.954545
6858   Jun2018        Indore                3350.397260
6961   Jun2019        Indore                3575.424658
7059   Mar2010        Indore                1948.750000
7150   Mar2011        Indore                2150.056338
7245   Mar2012        Indore                2621.608696
7341   Mar2013        Indore                3238.538462
7441   Mar2014        Indore                3858.888889
7545   Mar2015        Indore                3156.615385
7654   Mar2016        Indore                3452.906250
...        ...           ...                        ...
9049   Nov2010        Indore                2079.855556
9149   Nov2011        Indore                2058.123711
9251   Nov2012        Indore                3112.412500
9352   Nov2013        Indore                3604.463415
9465   Nov2014        Indore                3066.102564
9586   Nov2015        Indore                3572.815789
9700   Nov2016        Indore                2860.731343
9818   Nov2017        Indore                2643.780488
9930   Nov2018        Indore                3145.438596
10034  Nov2019        Indore                3729.734694
10141  Oct2010        Indore                1959.655914
10239  Oct2011        Indore                1947.689189
10338  Oct2012        Indore                2930.527778
10441  Oct2013        Indore                3232.740000
10546  Oct2014        Indore                2875.310811
10664  Oct2015        Indore                3645.500000
10779  Oct2016        Indore                2802.545455
10892  Oct2017        Indore                2627.615385
11004  Oct2018        Indore                3023.341463
11109  Oct2019        Indore                3387.977273
11209  Sep2010        Indore                1839.921348
11299  Sep2011        Indore                2129.513158
11388  Sep2012        Indore                3549.133333
11483  Sep2013        Indore                3276.602941
11580  Sep2014        Indore                3278.466667
11684  Sep2015        Indore                3147.367647
11790  Sep2016        Indore                2958.968254
11900  Sep2017        Indore                2805.190476
12003  Sep2018        Indore                3169.380282
12104  Sep2019        Indore                3684.897727

[73 rows x 3 columns]

In [ ]:
sns.set_style("dark", {"xtick.major.size": 8, "ytick.major.size": 8})

plt.figure(figsize=(15,5))
io['modal_price_(rs./quintal)'].plot()
# (df_new['Total Volume']/1000000).plot()
plt.legend()
plt.title('Total Volume vs Average Price during Atlantic Season , 2017')